<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleHensu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5B1CFA91C573DC5003C6B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B1CFBD1C573DC6003C6B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B1CFC81C573DC6003C6B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
