<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>えりこ</key>
	<dict>
		<key>gender</key>
		<string>女性</string>
		<key>hobby</key>
		<string>授業</string>
	</dict>
	<key>ひろき</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>ダイビング</string>
	</dict>
	<key>店長</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>コンビニ経営</string>
	</dict>
	<key>ひろよ</key>
	<dict>
		<key>gender</key>
		<string>女性</string>
		<key>hobby</key>
		<string>読書</string>
	</dict>
	<key>つばさ</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>読書</string>
	</dict>
	<key>こーいち</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>硬い床で寝る</string>
	</dict>
	<key>たくや</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>居酒屋経営</string>
	</dict>
	<key>まりこ</key>
	<dict>
		<key>gender</key>
		<string>女性</string>
		<key>hobby</key>
		<string>居酒屋経営</string>
	</dict>
	<key>なつき</key>
	<dict>
		<key>gender</key>
		<string>女性</string>
		<key>hobby</key>
		<string>水商売</string>
	</dict>
	<key>けんすけ</key>
	<dict>
		<key>gender</key>
		<string>男性</string>
		<key>hobby</key>
		<string>勉強</string>
	</dict>
	<key>ひな</key>
	<dict>
		<key>gender</key>
		<string>女性</string>
		<key>hobby</key>
		<string>寝ること</string>
	</dict>
</dict>
</plist>
