<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>Moalboal</string>
		<key>description</key>
		<string>モアルボアルだよ。綺麗だよ。</string>
		<key>picture</key>
		<string>moalboal.jpg</string>
		<key>map</key>
		<dict>
			<key>latitude</key>
			<real>9.955660999999999</real>
			<key>longitude</key>
			<real>123.40076</real>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Mactan</string>
		<key>description</key>
		<string>マクタンだよ。空港があるよ。</string>
		<key>picture</key>
		<string>cebu-mactan-airport.jpg</string>
		<key>map</key>
		<dict>
			<key>latitude</key>
			<real>9.955660999999999</real>
			<key>longitude</key>
			<real>123.40076</real>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Bohol</string>
		<key>description</key>
		<string>ボホールだよ。猿がいるよ。</string>
		<key>picture</key>
		<string>36.jpg</string>
		<key>map</key>
		<dict>
			<key>latitude</key>
			<real>9.955660999999999</real>
			<key>longitude</key>
			<real>123.40076</real>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Oslob</string>
		<key>description</key>
		<string>オスロブだよ。ジンベイザメがいるよ。</string>
		<key>picture</key>
		<string>whale-shark06.jpg</string>
		<key>map</key>
		<dict>
			<key>latitude</key>
			<real>9.955660999999999</real>
			<key>longitude</key>
			<real>123.40076</real>
		</dict>
	</dict>
</dict>
</plist>
